.view-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.surgery-table {
  margin: 20px auto;
  width: 60%;
  border-collapse: collapse;
}
.surgery-table thead{
    background-color: rebeccapurple;
    color: black;
}
.surgery-table th,
.surgery-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.surgery-table th {
  background-color: #f2f2f2;
}

.edit-btn {
  padding: 5px 10px;
  cursor: pointer;
}